<mat-horizontal-stepper  labelPosition="bottom" >
    <!-- Step 1 -->
    <mat-step  [completed]="false">
        <ng-template matStepLabel>Personal<br/>Details</ng-template>
    </mat-step>

    <!-- Step 2 -->
    <mat-step [completed]="false">
        <ng-template matStepLabel>Offer<br/>Details</ng-template>
    </mat-step>

    <!-- Step 3 -->
    <mat-step [completed]="false">
        <ng-template matStepLabel>Kyc & Loan<br/>Agreement</ng-template>
    </mat-step>

    <!-- Step 4 -->
    <mat-step [completed]="false">
        <ng-template matStepLabel>Banking<br/>Details</ng-template>
    </mat-step>
</mat-horizontal-stepper>

